/* base */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-family: arial, verdana, sans-serif; margin: 0; font-size: 1em; line-height: 1.4; }

/* html5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

/* 'namespace' as much of normalize as possible due to embedded microsites */
#micrositeContainer { color: #000; }
#micrositeContainer h1, #micrositeContainer h2, #micrositeContainer h3, #micrositeContainer h4, #micrositeContainer h5, #micrositeContainer h6 { line-height: 1em; margin: 0 0 1em; padding: 0; }
#micrositeContainer a { color: #0096d6; text-decoration: none; }
#micrositeContainer a:visited { color: #551a8b; }
#micrositeContainer a:hover { color: #0096d6; text-decoration: underline; }
#micrositeContainer a:focus { background-color: #eee; border: none; }
#micrositeContainer a:hover, #micrositeContainer a:active { outline: 0; }
#micrositeContainer b, #micrositeContainer strong { font-weight: bold; }
#micrositeContainer blockquote { margin: 1em 40px; }
#micrositeContainer hr { border-top: 1px solid #ccc; border: 0; display: block; height: 1px; margin: 1em 0; padding: 0; }
#micrositeContainer pre, #micrositeContainer code, #micrositeContainer kbd, #micrositeContainer samp { _font-family: 'courier new', monospace; font-family: monospace, serif; font-size: 1em; }
#micrositeContainer pre { white-space: pre-wrap; white-space: pre; word-wrap: break-word; }
#micrositeContainer small { font-size: 85%; }
#micrositeContainer sub, #micrositeContainer sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
#micrositeContainer sup { top: -0.5em; }
#micrositeContainer sub { bottom: -0.25em; }
#micrositeContainer ul, #micrositeContainer ol { margin: 1em 0; padding: 0 0 0 40px; }
#micrositeContainer dd { margin: 0 0 0 40px; }
#micrositeContainer nav ul, #micrositeContainer nav ol { list-style-image: none; list-style: none; margin: 0; padding: 0; }
#micrositeContainer img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }
#micrositeContainer iframe { border: none; }
#micrositeContainer figure { margin: 0; }
#micrositeContainer table { border-collapse: collapse; border-spacing: 0; }
#micrositeContainer th #micrositeContainer td { vertical-align: top; }

/* content callout */
.micrositeContentCallout { border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; width: 150px; float: left; margin: 10px 20px 10px 0; }
.micrositeContentCalloutInner { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 1px 0; padding: 10px; }
.micrositeContentCallout h6 { color: #00aca0; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0; }
.micrositeContentCallout ul { list-style: none; padding: 0 !important; margin: 0 !important; }
.micrositeContentCallout li { font-size: 11px !important; font-weight: bold; line-height: 14px !important; margin: 10px 0 0; }

/* social media */
#micrositeSocialMediaNav, #micrositeSocialMediaFooter { position: absolute; }
#micrositeSocialMediaNav { right: 0; top: 45px; }
#micrositeSocialMediaFooter { right: 0; top: 35px; display: none; }
#micrositeSocialMediaNav ul, #micrositeSocialMediaFooter ul { float: left; list-style: none; margin: 0; padding: 0; }
#micrositeSocialMediaNav li, #micrositeSocialMediaFooter li { display: block; float: left; line-height: 0; margin: 0 0 0 5px; }
#micrositeSocialMediaNav li > a, #micrositeSocialMediaFooter li > a { background-image: url(../images/spriteSocialMedia.png); background-repeat: no-repeat; display: block; position: relative; white-space: nowrap; overflow: hidden; text-indent: 100%; height: 18px; }
.micrositeSocialMedia-facebook a { background-position: -78px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-linkedin a { background-position: -56px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-twitter a { background-position: -100px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-email a { background-position: 0 0; top: 0; width: 52px; }

/* layout selectors */
body { background-color: #000; }
#micrositeContainerCompress { background-color: #fff; margin: 0 auto; width: 980px; }
#micrositeContent { font-size: 80%; overflow: hidden; clear: both;  }
#micrositeContentColumnFull { margin: 15px 20px 25px; }
#micrositeContentColumnLeft { float: left; width: 620px; margin: 0 20px 0; }
#micrositeContentColumnRight { float: right; width: 300px; margin: 0 20px 0 0; }
.micrositeContentColumnSpan { clear: both; }

#micrositeHeader, #micrositeFooter, #micrositeContentColumnRight { background-color: #efefef; font-size: 25px; color: #666; padding: 25px; }
#micrositeHeader, #micrositeFooter { clear: both; margin: 0 0 25px; }
#micrositeFooter { margin: 25px 0 0; }
#micrositeContentColumnRight { background-color: #efefef; color: #666; height: 1000px; width: 250px; }



#micrositeContentFooter { margin: 0 20px; }
#micrositeContentColumnLeft .micrositeContentColumnSpan { margin: 0; }



#micrositeContentFooter h6, #micrositeContentColumnLeft h6 { clear: both; border: 1px solid #666; background-color: #333; display: block; font-weight: bold; font-size: 14px; padding: 10px !important; color: #fff; margin: 0 0 -15px !important; }
